<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="main-container">
      <div class="main-container">
        {{>header}}
        <p>{{message}}</p>
      </div>      
    </div>    
    {{>footer}}
  </body>
</html>